<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img src="/public/images/solution/banner.png" alt="解决方案">
      <div class="max-center">
        <div class="text">
          <div class="title wow fadeInUp">解决方案</div>
          <div class="entitle wow fadeInUp" data-wow-delay="500ms">Solution</div>
        </div>
      </div>
      <div class="cursor">
        <i></i>
      </div>
    </section>
    <section class="solution-container">
      <ul class="solution-list max-center">
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/01.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>云展会</span></div>
            <div class="cont">
              <p>无需布展，降低人力成本、施工成本，无需差旅费</p>
              <p>参展商可自主更新海报、宣传视频、展位模型</p>
              <p>不受时间、空间限制，线上下单，促进成交</p>
            </div>
          </div>
        </li>
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/02.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>线上博物馆</span></div>
            <div class="cont">
              <p>3D化的文博展馆方便在互联网上传播</p>
              <p>文化与科技相遇，提升文娱形象和知名度</p>
              <p>促进文化艺术产业发展</p>
            </div>
          </div>
        </li>
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/03.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>企业云展厅</span></div>
            <div class="cont">
              <p>在线洽谈，供采对接，沟通无缝隙</p>
              <p>企业形象、文化、产品等输出窗口</p>
              <p>数据看板助力企业优化决策</p>
            </div>
          </div>
        </li>
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/04.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>线上画展</span></div>
            <div class="cont">
              <p>在线与艺术家对话</p>
              <p>实现线下无法完成的梦幻场景</p>
              <p>促进文化艺术产业发展</p>
            </div>
          </div>
        </li>
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/05.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>党建馆</span></div>
            <div class="cont">
              <p>让党建工作更具数字化、智能化</p>
              <p>提高党员干部群众学习党史、党建文化的吸引力</p>
              <p>丰富的交互促进用户记忆知识点</p>
            </div>
          </div>
        </li>
        <li class="solution-item wow fadeInUp">
          <div class="img">
            <img src="/public/images/solution/06.png" alt="">
          </div>
          <div class="text">
            <div class="title"><span>线上发布会</span>/年会</div>
            <div class="cont">
              <p>新体验、新传播、新营销提升曝光量</p>
              <p>单向传递信息升维到互动沟通双向传播</p>
              <p>打造完整的文化艺术内容新聚场</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="bg1"></div>
      <div class="bg2"></div>
      <div class="bg-repeat"></div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>